.fixed {
    /* Absolute Position */
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #eee;
    border: 2px solid rgb(177, 177, 177);
  }

  .fixed {
    /* Absolute Position */
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #eee;
    border: 2px solid rgb(177, 177, 177);
  }


  .fixed {
    /* Absolute Position */
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #eee;
    border: 2px solid rgb(177, 177, 177);
  }

body {
}