*{
    box-sizing: border-box;
}

body{
    font-size: 24px;
    line-height: 32px;
    color: #333;
}


#fixed {
    /* Absolute Position */
    background-color: #eee;
    position: fixed;
    padding: 40px;
    text-align: center;
    margin: 0;
    top: 0;
    left: 0;
}

.wrapper {
width: 600px;
margin: 0 auto 0 auto;
padding: 20px;
}
  #relative {
    /* Relative Position */
    background-color: #eee;
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
    text-align: centers;
    height: 200px;
  }


  #absolute {
    /* Absolute Position */
    position: absolute;
    background-color: #999;
    width: 250px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    height: 200px;
    bottom: 0;
    right: -40px;
  }

h1{
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 20px;
}

p{
    font-size: 18px;
    line-height: 20px;
}